.header {
    background-color: rgb(28, 4, 11);
    color: white;
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;

}


img {
    width: 100px;
    float: left;
}

h2 {
    text-align: center;
    margin-top: 2rem;
}