.post {
    background-color: rgb(229, 141, 141);
    width: 400px;
    margin: 10rem 1rem 0 1rem;
    border-radius: 8px;
    font-size: medium;
    padding: 0.2rem;
    font-family: courier, monospace;
}

.post h2 {
    text-align: center;
}

.post ol li {
    border: 1px solid;
    padding: 5px 2px;
    border-radius: 5px;
    margin: 5px;
}